<ion-header mode="md" class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{'FORGOT_PSWD' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div class="wrapper-center">
      <div class="current">{{current}}%</div>
      <round-progress
      [current]="current"
      [max]="max"
      [color]="'#13A100'"
      [background]="'#eaeaea'"
      [radius]="radius"
      [stroke]="20"
      [semicircle]="false"
      [rounded]="false"
      [clockwise]="true"
      [responsive]="false"
      [duration]="1000"
      [animation]="'easeInOutQuart'"
      [animationDelay]="100"
      (onRender)="doSomethingWithCurrentValue($event)"
      ></round-progress> 
    </div>
  </div>
  <ion-card *ngIf="pageStatus===1" class="card-bg bg-white no-shadow">
    <ion-item color="secondary">
      <ion-label class="ion-text-wrap">
        <p>{{'RESET_PWD_MSG' | translate}}</p>
      </ion-label>
    </ion-item>
    <form [formGroup]="forgotPwdForm" mode="md">
      <div class="form-field">
        <div class="input-field">
          <ion-input type="text" maxlength="10" label="User Name" fill="outline" labelPlacement="floating"
            placeholder="{{ 'USERNAME' | translate}}" formControlName="userName" errorText="Invalid UserName"></ion-input>
        </div>
      </div>
      <div class="form-field">
        <div class="input-field">
          <ion-input type="tel" maxlength="10" label="Mobile Number" fill="outline" labelPlacement="floating"
            placeholder="{{ 'ENTER_MOBILE_NUM' | translate}}" formControlName="mobileNumber" errorText="Invalid Mobile Number"></ion-input>
        </div>
      </div>
      <div class="form-field">
        <div class="input-field">
          <div class="robotText">
            <ion-row>
              <ion-col size="5" style="padding-top:12px">
                <ion-text color="light">{{genCaptchaText}}</ion-text>
              </ion-col>
              <ion-col size="7">
                <ion-item lines="none" class="captcha-text">
                  <ion-input placeholder="{{'CAPTCHA' | translate}}" maxlength="5" formControlName="captchaText"
                    class="ion-text-center"></ion-input>
                </ion-item>      
              </ion-col>
            </ion-row>
          </div>
        </div>
      </div>
      <div class="form-field input-field">
        <br>
        <ion-button mode="md" type="submit" expand="block" class="custom-btn" [disabled]="forgotPwdForm.invalid || !invalidCaptcha" 
        (click)="validateForm()">
          {{'PROCEED' | translate}}
        </ion-button>
        <br>
      </div>
    </form>
  </ion-card>

  <ion-modal [isOpen]="isModalOpen" [initialBreakpoint]="1" [breakpoints]="[0,1]" [canDismiss]="closeModal">
    <ng-template>
      <ion-header>
        <ion-item>
          <ion-avatar>
            <img src="assets/imgs/otp.png">
          </ion-avatar>
          <ion-label  class="ion-text-wrap custom-text ion-padding-start">
            <h2>{{'VERIFY_OTP' | translate}}</h2>
            <p>{{'REST_PIN_OTP_MSG' | translate}}</p>
          </ion-label>
        </ion-item>
      </ion-header>
      <br />
      <form [formGroup]="otpForm">
        <div class="form-field">
          <ion-input label="{{'ENTER_OTP' | translate}}" labelPlacement="floating" fill="outline" type="tel"
          formControlName="otp" maxlength="6"></ion-input>
        </div>  
      </form>
      <div class="ion-padding">
        <ion-button expand="block" [disabled]="otpForm.invalid" (click)="verifyOtp()">{{'VERIFY_OTP' | translate}}</ion-button>
      </div>
    </ng-template>
  </ion-modal>

  <ion-card *ngIf="pageStatus === 2" class="card-bg">
    <ion-item color="secondary">
      <ion-label class="ion-text-center">
        {{'ENTER_NEW_PWD' | translate}}
      </ion-label>
    </ion-item>
    <form [formGroup]="pswrdForm">
      <div class="form-field">
        <ion-input label="{{'ENTER_NEW_PWD' | translate}}" labelPlacement="floating"
        type="text" fill="outline" class="input-field" formControlName="newPswrd"></ion-input>
        <ion-input label="{{'CONFIRM_NEW_PWD' | translate}}" labelPlacement="floating"
        type="text" fill="outline" class="input-field" formControlName="cnfNewPswrd"></ion-input>
      </div>
    </form>
    <div class="ion-padding">
      <ion-button expand="block" (click)="setPswrd()" [disabled]="pswrdForm.invalid || pswrdInValid">{{'SET_PASS' | translate}}</ion-button>
    </div>
  </ion-card>

  <ion-card *ngIf="pageStatus === 3" class="card-bg">
    <div class="ion-text-center">
      <div class="ion-padding">
        <br>
        <ion-img src="assets/imgs/success.png" class="success-icon"></ion-img>
        <br>
        <ion-toolbar lines="none">
          <br>
          <ion-label class="ion-text-center ion-text-wrap reg-msg">
            <h2>{{'SUCCESS' | translate}}</h2>
            <p>{{'RESET_PWD_SUC_MSG' | translate}}</p>
          </ion-label>
        </ion-toolbar>
        <ion-toolbar lines="none" class="ion-text-center ion-padding-bottom">
          <br>
          <ion-button mode="ios" size="small" shape="round" color="secondary" (click)="login()">{{'CLICK_TO_LOGIN' | translate}}</ion-button>
        </ion-toolbar>
      </div>
    </div>
  </ion-card>
</ion-content> 