<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon name="close" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary" class="ion-text-center">
    <img src="assets/imgs/bic-logo.png" class="bic-logo">
    <ion-item lines="none" color="primary">
      <ion-label class="ion-text-center">
        <h2><strong>Suryakant Kumar</strong></h2>
        <p>+856 2052592794</p>
        <p class="last-login">Last Login: 13-07-2023 10:00:00</p>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content mode="md" color="light">
  <ion-card class="menu-item">
    <ion-item lines="none" button detail="true">
      <ion-buttons slot="start">
        <ion-button>
          <ion-icon name="home" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-label>
        <h2>Home</h2>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-card class="menu-item">
    <ion-item lines="none" button detail="true">
      <ion-buttons slot="start">
        <ion-button>
          <ion-icon name="qr-code-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-label>
        <h2>My QR</h2>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-card class="menu-item">
    <ion-item lines="none" button detail="true">
      <ion-buttons slot="start">
        <ion-button>
          <ion-icon name="card" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-label>
        <h2> Card Link</h2>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-card class="menu-item">
    <ion-item lines="none" button detail="true">
      <ion-buttons slot="start">
        <ion-button>
          <ion-icon name="document" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-label>
        <h2>Update E-KYC</h2>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-card class="menu-item">
    <ion-item lines="none" button detail="true">
      <ion-buttons slot="start">
        <ion-button>
          <ion-icon name="apps" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-label>
        <h2>Change PIN</h2>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-card class="menu-item">
    <ion-item lines="none" button detail="true">
      <ion-buttons slot="start">
        <ion-button>
          <ion-icon name="lock-closed" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-label>
        <h2>Change Password</h2>
      </ion-label>
    </ion-item>
  </ion-card>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-item lines="none" color="light">
      <ion-label class="ion-text-center">
        <h2>1.0.0</h2>
        <p>App Version</p>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-footer>