.otp-header{
    h2{
        color: var(--ion-color-light);
        font-weight: bolder;
    }
    p{
        font-size: x-small;
        color: var(--ion-color-secondary);
    }
}
.otp-msg{
    font-size: x-small;
    color: var(--ion-color-secondary);
}