<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{'ATM_LOCATION' | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-item lines="none" color="light">
    <ion-label>
      <ion-row>
        <ion-col size="4">Status</ion-col>
        <ion-col size="8">Address</ion-col>
      </ion-row>
    </ion-label>
  </ion-item>
</ion-header>

<ion-content>
  <ion-item lines="full" *ngFor="let l of atmList">
    <ion-label><ion-row>
        <ion-col size="4">
          <ion-text [color]="l.status==='A'?'success':'danger'">{{(l.status==='A'?'Active':'Inactive')}}</ion-text>
        </ion-col>
        <ion-col size="8">{{l.atmLocation}}</ion-col>
      </ion-row></ion-label>
  </ion-item>
</ion-content>