<ion-header class="ion-no-border">
  <ion-toolbar color="primary" class="ion-text-center">
    <app-stepper [activeIndex]="activeStepper" (clickedTab)="clickedStepper($event)"></app-stepper>
    <img src="assets/imgs/reg-bg.png" class="bg-reg" />
    <h2 class="username ion-text-center">Device Registration</h2>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-modal class="action-sheet-modal" [isOpen]="isModalOpen" [initialBreakpoint]="1" [breakpoints]="[0, 1]"
    handle="false" backdropDismiss="false" [canDismiss]="closeModal">
    <ng-template style="border:1px solid #ccc">
      <ion-header class="ion-no-border">
        <ion-toolbar color="light">
          <ion-item lines="full" mode="md" color="light">
            <ion-avatar slot="start">
              <img src="assets/imgs/tc-icon.png">
            </ion-avatar>
            <ion-label class="ion-text-wrap tc-text">
              <h2>{{'TERMS_CONDITION' | translate}}</h2>
              <p> {{'Please check the box to agree the Terms & Conditions' | translate}}</p>
            </ion-label>
          </ion-item>
        </ion-toolbar>
      </ion-header>
      <br>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          <h2>
            {{'DO_YOU_AGREE_WITH_THE_TERMS_CONDITION_AS_STIPULATED' | translate}}
            <span class="tc-link" (click)="openTNC()"> {{'HERE' | translate}} </span>
            {{'TO_USE_BIC_BEST_APP_WALLET' | translate}}
          </h2>
        </ion-label>
      </ion-item>
      <ion-footer class="ion-no-border">
        <ion-toolbar class="footer-checkbox">
          <div class="checkbox-box" mode="md">
            <ion-checkbox labelPlacement="end" [(ngModel)]="tcAccepted">
              {{'AGREE_AND_CONTINUE' | translate}}</ion-checkbox>
          </div>
        </ion-toolbar>
        <ion-row>
          <ion-col size="6">
            <ion-button expand="block" mode="md" fill="outline" color="danger" class="ion-text-capitalize custom-btn"
              (click)="continue(0)">{{'EXIT' | translate}}</ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button expand="block" mode="md" class="ion-text-capitalize custom-btn" [disabled]="!tcAccepted"
              (click)="continue(1)">{{'CONTINUE' | translate}}</ion-button>
          </ion-col>
        </ion-row>
      </ion-footer>
    </ng-template>
  </ion-modal>
  <div class="content-box">
    <div *ngIf="activeStepper===1">
      <app-device-validation (formValidated)="formValidated($event)"></app-device-validation>
    </div>
    <div *ngIf="activeStepper===2">
      <app-set-username-password (sendUserNamePassword)="submitUserNameAndPassword($event)"></app-set-username-password>
    </div>
    <div *ngIf="activeStepper===3">
      <app-set-user-detail (submitUserDetail)="submitUserDetail($event)"></app-set-user-detail>
    </div>
    <div *ngIf="activeStepper===4">
      <app-set-mpin (submitPinDetail)="submitMpin($event)"></app-set-mpin>
    </div>
    <div *ngIf="activeStepper===5" class="ion-text-center">
      <div class="ion-padding">
        <br>
        <ion-img src="assets/imgs/success.png" class="success-icon"></ion-img>
        <br>
        <ion-item lines="none">
          <ion-label class="ion-text-center ion-text-wrap reg-msg">
            <h2>{{'SUCCESS' | translate}}</h2>
            <p>{{'DEVICE_REG_SUCCESS_MSG' | translate}}</p>
          </ion-label>
        </ion-item>
        <br>
        <ion-button mode="ios" size="small" shape="round" color="secondary" (click)="login()">{{'CLICK_TO_LOGIN' | translate}}</ion-button>
      </div>
    </div>
  </div>
  <br>
  
</ion-content>