ion-skeleton-text {
    --background-rgb: 255, 255, 255;
}

.custom-segment {
    padding-left: 16px !important;
    padding-right: 16px !important;

    ion-segment {
        border: 2px solid var(--ion-color-primary);
        background-color: var(--ion-color-secondary);
        padding: 2px;
        color: var(--ion-color-primary) !important;

        ion-segment-button {
            --background: var(--ion-color-secondary) !important;
        }
    }
}