<ion-header mode="md" class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{'FUND_TRANSFER' | translate}}</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary" mode="md">
    <app-from-account (sendFromAccDetail)="sendFromAccDetail($event)" (sendAccList)="sendAccList($event)"
      (sendExchangeRate)="sendExchangeRate($event)"></app-from-account>
  </ion-toolbar>
  <ion-toolbar mode="md" class="custom-segment" color="primary">
    <ion-segment [(ngModel)]="transferType" mode="ios">
      <ion-segment-button value="OWN" class="ion-text-capitalize"
        [ngClass]="transferType==='OWN'?'active':''">{{'TO_OWN_ACC' | translate}}</ion-segment-button>
      <ion-segment-button value="BIC" class="ion-text-capitalize"
        [ngClass]="transferType==='BIC'?'active':''">{{'TO_BIC_ACC' | translate}}</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-item-divider lines="full" mode="md" color="light">
    <ion-label class="ion-text-center ion-text-wrap">{{transferType==='OWN'?('OWN_ACC_TRANSFER' |
      translate):'BIC_TO_BIC_TRANSFER' | translate}}</ion-label>
  </ion-item-divider>

</ion-header>

<ion-content mode="md" class="ion-padding-top">
  <div [ngSwitch]="transferType">
    <div *ngSwitchCase="'OWN'">
      <app-own-acc-transfer [fromAccDetail]="fromAccDetail" [accList]="accList" [userDetail]="userDetail"
        [exchangeRate]="exchangeRate"></app-own-acc-transfer>
    </div>
    <div *ngSwitchCase="'BIC'">
      <app-bic-acc-transfer [fromAccDetail]="fromAccDetail" [accList]="accList" [userDetail]="userDetail"
        [exchangeRate]="exchangeRate"></app-bic-acc-transfer>
    </div>
  </div>
</ion-content>
