ion-content {
  --background: linear-gradient(
    var(--ion-color-primary) 40%,
    var(--ion-color-light) 40%
  );
}
.form-control {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
}
ion-card {
  box-shadow: none !important;
  border: 1px solid var(--ion-color-secondary);
  border-radius: 16px;
}
.btn-box {
  padding: 10px;
  ion-button {
    --border-radius: 8px !important;
  }
}

