<ion-header class="ion-no-border" mode="md">
  <ion-toolbar color="primary">
    <ion-title>{{'RESET_PIN' | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <div class="progress-wrapper">
      <div class="current" [ngStyle]="getOverlayStyle()">{{ current }}%</div>
      <round-progress [current]="current" [max]="max" [color]="'#13A100'" [background]="'#eaeaea'" [radius]="radius"
        [stroke]="20" [semicircle]="false" [rounded]="false" [clockwise]="true" [responsive]="false" [duration]="1000"
        [animation]="'easeInOutQuart'" [animationDelay]="100" (onRender)="doSomethingWithCurrentValue($event)">
      </round-progress>
    </div>
  </div>
  <ion-card class="card-bg" *ngIf="pageStatus===1">
    <ion-item lines="full" color="secondary" class="top-border-radius">
      <ion-label class="ion-text-wrap">
        <p>{{'RESET_PIN_DESC' | translate}}</p>
      </ion-label>
    </ion-item>
    <form [formGroup]="formGroup" (ngSubmit)="validateForm()" mode="md">
      <div class="form-field">
        <div class="input-field">
          <ion-input type="tel" maxlength="10" label="Mobile Number" fill="outline" labelPlacement="floating"
            placeholder="{{ 'ENTER_MOBILE_NUM' | translate}}" formControlName="mobileNumber" errorText="Invalid Mobile Number"></ion-input>
        </div>
      </div>
      <div class="form-field">
        <div class="input-field">
          <div class="robotText">
            <ion-row>
              <ion-col size="5" style="padding-top:12px">
                <ion-text color="light">{{genCaptchaText}}</ion-text>
              </ion-col>
              <ion-col size="7">
                <ion-item lines="none" class="captcha-text">
                  <ion-input placeholder="{{'CAPTCHA' | translate}}" maxlength="5" formControlName="captchaText"
                    class="ion-text-center"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </div>
      <div class="form-field input-field">
        <ion-button mode="md" type="submit" expand="block" class="custom-btn" [disabled]="formGroup.invalid || !invalidCaptcha">
          {{'PROCEED' | translate}}
        </ion-button>
      </div>
    </form>
  </ion-card>
  <ion-card class="card-bg" *ngIf="pageStatus===2">
    <ion-item lines="full" color="secondary" class="top-border-radius">
      <ion-label class="ion-text-center ion-text-wrap">
        <p>{{'SET_NEW_PIN' | translate}}</p>
      </ion-label>
    </ion-item>
    <form [formGroup]="pinForm" (ngSubmit)="validateNewPin()" mode="md">
      <div class="form-field">
        <div class="input-field">
          <ion-input type="tel" maxlength="6" label="New PIN" fill="outline" labelPlacement="floating"
            placeholder="{{ 'ENTER_NEW_PIN' | translate}}" formControlName="newPin" errorText="Invalid New PIN"></ion-input>
        </div>
      </div>
      <div class="form-field">
        <div class="input-field">
          <ion-input type="tel" maxlength="6" label="Confirm PIN" fill="outline" labelPlacement="floating"
            placeholder="{{ 'CONFIRM_NEW_PIN' | translate}}" formControlName="cnfPin" errorText="Invalid Confirm PIN"></ion-input>
        </div>
      </div>
      <div class="ion-padding ion-text-center" *ngIf="!pinMatched && errorMsg">
        <ion-text color="danger">{{errorMsg}}</ion-text>
      </div>
      <div class="form-field input-field">
        <ion-button mode="md" type="submit" expand="block" class="custom-btn" [disabled]="pinForm.invalid || !pinMatched">
          {{'PROCEED' | translate}}
        </ion-button>
        <br>
      </div>
    </form>
  </ion-card>
  <ion-card class="card-bg" *ngIf="pageStatus===3" >
    <div class="ion-text-center">
      <div class="ion-padding">
        <br>
        <ion-img src="assets/imgs/success.png" class="success-icon"></ion-img>
        <br>
        <ion-toolbar lines="none">
          <br>
          <ion-label class="ion-text-center ion-text-wrap reg-msg">
            <h2>{{'SUCCESS' | translate}}</h2>
            <p>{{'RESET_PIN_SUC_MSG' | translate}}</p>
          </ion-label>
        </ion-toolbar>
        <ion-toolbar lines="none" class="ion-text-center ion-padding-bottom">
          <br>
          <ion-button mode="ios" size="small" shape="round" color="secondary" (click)="login()">{{'CLICK_TO_LOGIN' | translate}}</ion-button>
        </ion-toolbar>
      </div>
    </div>
  </ion-card>
  <ion-modal class="action-sheet-modal" [isOpen]="isModalOpen" [initialBreakpoint]="1" [breakpoints]="[0, 1]"
    handle="false" backdropDismiss="false" [canDismiss]="closeModal">
    <ng-template style="border:1px solid #ccc">
      <form [formGroup]="formGroup" (ngSubmit)="validateOtp()">
      <ion-header class="ion-no-border">
        <ion-item lines="none" mode="md" color="light">
          <ion-avatar slot="start">
            <img src="assets/imgs/otp.png">
          </ion-avatar>
          <ion-label class="ion-text-wrap otp-header">
            <h2>{{'VERIFY_OTP' | translate}}</h2>
            <p> {{'SMS_SENT' | translate}}</p>
          </ion-label>
        </ion-item>
      </ion-header>
      <br>
        <div class="form-field" mode="md">
          <ion-input type="tel" maxlength="6" placeholder="{{'OTP_DIGIT' | translate}}" fill="outline" mode="md"
            label="{{'ENTER_OTP' | translate}}" labelPlacement="floating" clearInput="true" formControlName="otp"></ion-input>
        </div>
      <br>
      <ion-footer class="ion-no-border">
        <ion-toolbar>
          <ion-button expand="block" mode="md" class="custom-btn" type="submit" [disabled]="!formGroup.valid">{{'VERIFY_OTP' | translate}}</ion-button>
        </ion-toolbar>
      </ion-footer>
    </form>
    </ng-template>
  </ion-modal>
</ion-content>