<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>{{'RESET_PIN' | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <div class="progress-wrapper">
      <div class="current" [ngStyle]="getOverlayStyle()">{{ current }}%</div>
      <round-progress [current]="current" [max]="max" [color]="'#FF6F00'" [background]="'#eaeaea'" [radius]="radius"
        [stroke]="20" [semicircle]="false" [rounded]="true" [clockwise]="true" [responsive]="false" [duration]="1000"
        [animation]="'easeInOutQuart'" [animationDelay]="100" (onRender)="doSomethingWithCurrentValue($event)">
        ></round-progress>
    </div>
  </div>
  <ion-card class="card-bg">
    <ion-item lines="full" color="secondary" class="top-border-radius">
      <ion-label class="ion-text-wrap">
        <p>{{'RESET_PIN_DESC' | translate}}</p>
      </ion-label>
    </ion-item>
    <form [formGroup]="formGroup" (ngSubmit)="validateForm()">
      <div class="form-field">
        <div class="input-field">
          <ion-input type="tel" maxlength="10" label="Mobile Number" fill="outline" labelPlacement="floating"
            placeholder="{{ 'ENTER_MOBILE_NUM' | translate}}" formControlName="mobileNumber"></ion-input>
        </div>
      </div>
      <div class="form-field">
        <div class="input-field">
          <div class="robotText">
            <ion-row>
              <ion-col size="5" style="padding-top:12px">
                <ion-text color="light">{{genCaptchaText}}</ion-text>
              </ion-col>
              <ion-col size="7">
                <ion-item lines="none" class="captcha-text">
                  <ion-input placeholder="{{'CAPTCHA' | translate}}"  maxlength="5" formControlName="captchaText" class="ion-text-center"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </div>
      <div class="form-field input-field">
        <ion-button mode="md" expand="block" class="custom-btn">{{'PROCEED' | translate}}</ion-button>
      </div>
    </form>
  </ion-card>
</ion-content>