<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="dashboard">
        <ion-img src="assets/imgs/home/home-512x512.png" class="tab-icon"></ion-img>
        Home
      </ion-tab-button>
      <ion-tab-button tab="search">
        <ion-img src="assets/imgs/home/search-512x512.png" class="tab-icon"></ion-img>
        Search
      </ion-tab-button>
      <ion-tab-button tab="notifications">
        <ion-img src="assets/imgs/home/messages-512x512.png" class="tab-icon"></ion-img>
        Message
      </ion-tab-button>
      <ion-tab-button tab="settings">
        <ion-img src="assets/imgs/home/settings-512x512.png" class="tab-icon"></ion-img>
        Settings
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
