.acc-category{
    background-color: var(--ion-color-secondary);
    color: #fff;
    font-weight: bolder;
    font-size: larger;
    div{
        padding-left:14px;
        margin-top:7px !important;
    }
}
