<ion-header mode="md">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'FUND_TRANSFER' | translate}}</ion-title>
  </ion-toolbar>
  <ion-item lines="full">
    <ion-label class="ion-text-center">
      {{'WALLET_TO_WALLET' | translate}}
    </ion-label>
  </ion-item>
</ion-header>

<ion-content mode="md">
  <div class="form-field">
    <div class="input-field">
      <ion-input type="tel" maxlength="10"></ion-input>
    </div>
  </div>
</ion-content>
