<ion-toolbar color="primary" mode="md">
  <ion-title class="ion-text-start">{{'RECENT_TRANSACTIONS' | translate}}</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="closeModal()">
      <ion-icon name="close" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<div class="" mode="md">
  <div *ngIf="recent.length>0 && showRecent===true">
    <ion-card class="card-item" *ngFor="let r of recent">
      <ion-item lines="none">
        <ion-avatar slot="start">
          <ion-icon [name]="r.txnStatus==='F'?'close-circle':'checkmark-circle'" [color]="r.txnStatus==='F'?'danger':'success'" class="status-icon"></ion-icon>
        </ion-avatar>
        <ion-label class="recent">
          <h2 *ngIf="r.toAccountHolder">{{r.toAccountHolder}}</h2>
          <p>{{global.maskAccNumber(r.toAccount)}} - {{global.getTextCurrency(r.toCurCode)}}</p>
          <ion-chip [color]="r.txnStatus==='F'?'danger':'success'"><strong>{{global.getTextCurrency(r.curCode)}} {{global.formatAmount(r.amount)}}</strong></ion-chip>
        </ion-label>
        <ion-label slot="end" class="ion-text-end">
          <ion-chip color="tertiary" (click)="showTxnDetail(r)"><strong>{{'VIEW' | translate}}</strong></ion-chip><br>
          <!-- <ion-button fill="clear" color="primary" mode="ios"><strong>{{'REPEAT' | translate}}</strong></ion-button> -->
        </ion-label>
      </ion-item>
    </ion-card>
  </div>
  <ion-card class="card-item" *ngIf="recent.length<=0 && showRecent===true">
    <ion-item lines="none" class="ion-padding">
      <ion-label class="ion-text-wrap ion-text-center" color="secondary">
        <h2>{{'MPAY1028' | translate}}</h2>
        <lottie-player autoplay="true" loop="true" src="assets/json/data-not-found.json" class="lottie-player">
        </lottie-player>
      </ion-label>
    </ion-item>
  </ion-card>
</div>