ion-content {
    --background: transparent !important;
    /* background-color: transparent !important;
    --ion-background-color: transparent !important;
    --ion-border-color: transparent !important;

    background: transparent !important; */
    background-image: url('/assets/imgs/qr_frame_full.png');
    --background: url('/assets/imgs/qr_frame_full.png');
    background-image:url('/assets/imgs/qr_frame_full.png');
    background-size: 100% 100%;
}
