<ion-item lines="full" color="light" class="top-border-radius">
  <ion-label class="ion-text-center">{{'SET_USERNAME_PASSWORD' | translate}}</ion-label>
</ion-item>
<form [formGroup]="userForm" (ngSubmit)="validatePassword()">
  <div class="form-field ion-padding-top" mode="md">
    <ion-label>{{'USERNAME' | translate}}</ion-label>
    <ion-item lines="none" mode="md" class="item-field">
      <ion-label></ion-label>
      <ion-input type="text" maxlength="20" placeholder="Enter your username" (ngModelChange)="clearMsg()"
        errorText="Invalid Username" formControlName="username"></ion-input>
      <ion-buttons slot="end">
        <ion-button type="button" color="secondary" class="search" (click)="checkUserName()">
          <ion-icon name="search" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <div class="ion-text-center">
      <ion-chip color="danger" *ngIf="validUser===false && showMsg">
        <ion-icon name="close-circle"></ion-icon>
        <ion-label>{{'Username is not available'}}</ion-label>
      </ion-chip>
      <ion-chip color="success" *ngIf="validUser===true && showMsg">
        <ion-icon name="checkmark-circle"></ion-icon>
        <ion-label>Username is available</ion-label>
      </ion-chip>
      <ion-text color="danger" class="error-msg" *ngIf="errMsg && !showMsg">{{errMsg | translate}}</ion-text>
    </div>
  </div>
  <div class="form-field ion-padding-top">
    <ion-label>{{'SET_PASS' | translate}}</ion-label>
    <div class="ion-margin-top">
      <ion-input type="text" maxlength="20" placeholder="Enter your password" fill="outline"
        label="{{'PASSWORD' | translate}}" labelPlacement="floating" errorText="{{'MPAY1010' | translate}}"
        formControlName="password">
      </ion-input>
    </div>
    <div class="ion-margin-top">
      <ion-input type="text" maxlength="20" placeholder="Enter confirm password" fill="outline"
        label="{{'CONFIRM_PWD' | translate}}" labelPlacement="floating" errorText="{{'MPAY1010' | translate}}"
        formControlName="cnfPassword">
      </ion-input>
    </div>
  </div>
  <div class="form-field">
  </div>
  <div class="ion-padding" mode="md">
    <ion-button type="submit" expand="block" class="custom-btn ion-text-capitalize" [disabled]="!validUser || !validPassword">{{'PROCEED' | translate}}</ion-button>
  </div>
  <ion-item lines="none">
    <ion-label class="ion-text-wrap">
      <p class="help-text">
        <ion-text color="primary">
          <strong>{{'NOTE' | translate}}: </strong>
        </ion-text>
        {{'YOUR_CREDENTIAL_WILL_BE_USE_TO_LOGIN_BIC_BEST' | translate}}
      </p>
      <p class="help-text">
        <ion-text color="primary">
          <strong>{{'STRONG_PASSWORD_TIP' | translate}}: </strong>
        </ion-text>
        {{'ALPHANUMERIC_WITH_UPPER_AND_LOWER_CASE' | translate}}
      </p>
    </ion-label>
  </ion-item>
  <br>
</form>