<ion-header class="ion-no-border">
  <ion-toolbar color="primary" mode="md">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{'SEARCH' | translate}}</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary" mode="md">
    <ion-searchbar [debounce]="1000" (ionInput)="filterListData($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content mode="md">
  <ion-card mode="md" class="card-bg">
    <ion-card mode="md" *ngFor="let result of filterList" class="card-item">
      <ion-item button detail="true" lines="none">
        <!-- <ion-icon slot="start" name="stop-circle-outline"> </ion-icon> -->
        <ion-label>{{ result.name }}</ion-label>
      </ion-item>
    </ion-card>
    <ion-card mode="md" class="card-item" *ngIf="filterList.length<=0">
      <ion-item button detail="false" lines="none">
        <ion-label class="ion-text-center ion-margin-top ion-margin-bottom"> 
          <h2>Sorry!</h2>
          <p>No Data Found</p>
        </ion-label>
      </ion-item>
    </ion-card>
  </ion-card>
</ion-content>
