<ion-header mode="md" class="ion-no-border">
  <ion-item color="primary" lines="none">
    <ion-avatar slot="start">
      <img [src]="bankLogo">
    </ion-avatar>
    <ion-label>
      <h2><strong>{{'FUND_TRANSFER' | translate}}</strong></h2>
      <p><ion-text color="secondary">{{transferDesc | translate}}</ion-text> </p>
    </ion-label>
    <ion-buttons slot="end">
      <ion-button (click)="closePage()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
  <ion-toolbar color="primary" mode="md">
    <app-from-account
    (sendFromAccDetail)="sendFromAccDetail($event)"
    (sendAccList)="sendAccList($event)"
    (sendExchangeRate)="sendExchangeRate($event)"
    ></app-from-account>
  </ion-toolbar>
<!--   <ion-item lines="full">
    <ion-label class="ion-text-center">
      {{transferDesc | translate}}
    </ion-label>
  </ion-item> -->
</ion-header>

<ion-content mode="md">
  <div [ngSwitch]="transferType">
    <div *ngSwitchCase="'BCEL'">
      <app-bic-bcel [fromAccDetail]="fromAccDetail" [accList]="accList" [userDetail]="userDetail"
        [exchangeRate]="exchangeRate"></app-bic-bcel>
    </div>
    <div *ngSwitchCase="'LAPNET'">
      <app-bic-lapnet [fromAccDetail]="fromAccDetail" [accList]="accList" [userDetail]="userDetail"
        [exchangeRate]="exchangeRate"></app-bic-lapnet>
    </div>
    <div *ngSwitchCase="'MMONEY'">
      <app-bic-mmoney [fromAccDetail]="fromAccDetail" [accList]="accList" [userDetail]="userDetail"
        [exchangeRate]="exchangeRate"></app-bic-mmoney>
    </div>
    <div *ngSwitchCase="'UMONEY'">
      <app-bic-umoney [fromAccDetail]="fromAccDetail" [accList]="accList" [userDetail]="userDetail"
        [exchangeRate]="exchangeRate"></app-bic-umoney>
    </div>
  </div>
</ion-content>
