<ion-header mode="md" class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{'FUND_TRANSFER' | translate}}</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary" mode="md">
    <app-from-account
    (sendFromAccDetail)="sendFromAccDetail($event)"
    (sendAccList)="sendAccList($event)"
    (sendExchangeRate)="sendExchangeRate($event)"
    ></app-from-account>
  </ion-toolbar>
  <ion-item lines="full">
    <ion-label class="ion-text-center">
      {{transferDesc | translate}}
    </ion-label>
  </ion-item>
</ion-header>

<ion-content mode="md" class="ion-padding-top">
  <div [ngSwitch]="transferType">
    <div *ngSwitchCase="'BCEL'">
      <app-bic-bcel [fromAccDetail]="fromAccDetail" [accList]="accList" [userDetail]="userDetail"
        [exchangeRate]="exchangeRate"></app-bic-bcel>
    </div>
    <div *ngSwitchCase="'LAPNET'">
      <app-bic-lapnet [fromAccDetail]="fromAccDetail" [accList]="accList" [userDetail]="userDetail"
        [exchangeRate]="exchangeRate"></app-bic-lapnet>
    </div>
    <div *ngSwitchCase="'MMONEY'">
      <app-bic-mmoney [fromAccDetail]="fromAccDetail" [accList]="accList" [userDetail]="userDetail"
        [exchangeRate]="exchangeRate"></app-bic-mmoney>
    </div>
    <div *ngSwitchCase="'UMONEY'">
      <app-bic-umoney [fromAccDetail]="fromAccDetail" [accList]="accList" [userDetail]="userDetail"
        [exchangeRate]="exchangeRate"></app-bic-umoney>
    </div>
  </div>
</ion-content>
