<ion-header class="ion-no-borderx">
  <ion-toolbar color="primary" mode="md">
    <ion-title>{{'UPDATE_EKYC' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-back-button icon="close"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="stepper" color="primary">
    <div class="md-stepper-horizontal orange">
      <div class="md-step" [ngClass]="activeIndex>=1?'active':''">
        <div class="md-step-circle"><span>1</span></div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>
      <div class="md-step" [ngClass]="activeIndex>=2?'active':''">
        <div class="md-step-circle"><span>2</span></div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>
      <div class="md-step" [ngClass]="activeIndex>=3?'active':''">
        <div class="md-step-circle"><span>3</span></div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>
      <div class="md-step" [ngClass]="activeIndex>=4?'active':''">
        <div class="md-step-circle"><span>4</span></div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>
      <div class="md-step" [ngClass]="activeIndex>=5?'active':''">
        <div class="md-step-circle"><span>5</span></div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [ngClass]="(activeIndex===2 || activeIndex===4)?'transparent-bg':''">
  <ion-card class="card-bg" *ngIf="activeIndex===1">
    <ion-item lines="full" color="secondary">
      <ion-label class="ion-text-center ion-text-wrap">
        <p>{{'PLEASE_CAPTURE_YOUR_SELFIE_WITH_ID' | translate}}</p>
      </ion-label>
    </ion-item>
    <div class="ion-text-center ion-padding">
      <img src="assets/imgs/selfie.png">
    </div>
  </ion-card>
  <div *ngIf="activeIndex===2">
    <app-capture-selfie (sendSelfieData)="captureSelfie($event)"></app-capture-selfie>
  </div>

  <ion-card *ngIf="activeIndex===3" class="card-bg">
    <ion-item lines="full" color="primary">
      <ion-label class="ion-text-center ion-text-wrap">
        <p>{{'PLEASE_CAPTURE_YOUR_ID_CARD' | translate}}</p>
      </ion-label>
    </ion-item>
    <div class="ion-text-center ion-padding">
      <img src="assets/imgs/id-card.png">
    </div>
  </ion-card>
  <div *ngIf="activeIndex===4">
    <app-capture-id (captureIdCard)="captureIdCard($event)"></app-capture-id>
  </div>
  <ion-card class="card-bg kyc-result" *ngIf="activeIndex===5">
    <!-- <div *ngIf="kycStatus==='S'">
      <img src="assets/imgs/success.png" *ngIf="kycStatus==='S'" class="kyc-icon">
      
    </div> -->
    <div class="ion-padding ion-text-center" *ngIf="kycStatus==='P'">
      <lottie-player autoplay="true" loop="true" src="assets/json/spinner.json" class="lottie-player"> </lottie-player>
      <ion-item lines="none" class="transparent-item">
        <ion-label class="ion-text-center ion-text-wrap uploading-label">
          <h2>{{'UPLOADING' | translate}}...</h2>
          <p>Please wait while your KYC document is uploaded</p>
        </ion-label>
      </ion-item>
    </div>
    <div class="ion-padding ion-text-center" *ngIf="kycStatus==='S'">
      <lottie-player autoplay src="assets/json/success-2.json" class="lottie-player"> </lottie-player>
      <ion-item lines="none" class="transparent-item">
        <ion-label class="ion-text-center ion-text-wrap kyc-msg">
          <h2 class="success">{{'SUCCESS' | translate}}</h2>
          <p>{{'DOCUMENT_UPLOAD_SUCCESSFULLY' | translate}}</p>
          <h2 class="ref-num">{{'REF_NUMBER' | translate}} : <br/>{{kycId}}</h2>
        </ion-label>
      </ion-item>
      <div class="ion-padding">
        <ion-button mode="ios" color="secondary" shape="round" (click)="goHome()" class="kyc-btn">{{'HOME' | translate}}</ion-button>
      </div>
    </div>
    <div class="ion-padding ion-text-center" *ngIf="kycStatus==='F'">
      <lottie-player autoplay src="assets/json/bouncy-fail.json" class="lottie-player-failed"> </lottie-player>
      <ion-item lines="none" class="transparent-item">
        <ion-label class="ion-text-center ion-text-wrap kyc-msg">
          <h2 class="failed">{{'FAILED' | translate}}</h2>
          <p>{{'DOCUMENT_UPLOAD_FAILED' | translate}}</p>
        </ion-label>
      </ion-item>
      <div class="ion-padding">
        <ion-button mode="ios" color="secondary" shape="round" (click)="retry()" class="kyc-btn">{{'RETRY' | translate}}</ion-button>
      </div>
    </div>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-row *ngIf="activeIndex===2">
      <ion-col *ngIf="selfie">
        <div>
          <ion-button expand="block" mode="ios" class="custom-btn" color="light" fill="outline"
            (click)="reTakePicture()">{{'RECAPTURE' | translate}}</ion-button>
        </div>
      </ion-col>
      <ion-col *ngIf="!selfie">
        <ion-button expand="block" mode="ios" class="custom-btn" color="secondary" (click)="takePicture()">
          {{'CAPTURE' | translate}}
        </ion-button>
      </ion-col>
      <ion-col *ngIf="selfie">
        <ion-button expand="block" mode="ios" class="custom-btn" color="secondary"
          (click)="proceedForIdCard()">{{'PROCEED' | translate}}</ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="activeIndex===1 || activeIndex===3">
      <ion-col>
        <ion-button mode="ios" color="light" fill="outline" expand="block" class="custom-btn"
          (click)="goBack()">{{'BACK' | translate}}</ion-button>
      </ion-col>
      <ion-col>
        <ion-button mode="ios" color="secondary" expand="block" class="custom-btn" (click)="openCamera()">
          {{'PROCEED' | translate}}
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="activeIndex===4">
      <ion-col *ngIf="idCard">
        <div>
          <ion-button expand="block" mode="ios" class="custom-btn" color="light" fill="outline" (click)="reTakeIdPicture()">
            {{'RECAPTURE' | translate}}
          </ion-button>
        </div>
      </ion-col>
      <ion-col *ngIf="!idCard">
        <ion-button expand="block" mode="ios" class="custom-btn" color="light" fill="outline" (click)="openGallery()">
          {{'OPEN_GALLERY' | translate}}
        </ion-button>
      </ion-col>
      <ion-col *ngIf="!idCard">
        <ion-button expand="block" mode="ios" class="custom-btn" color="secondary" (click)="takeIdPicture()">
          {{'CAPTURE' | translate}}
        </ion-button>
      </ion-col>
      <ion-col *ngIf="idCard">
        <ion-button expand="block" mode="ios" class="custom-btn" color="secondary" (click)="submitForm()">
          {{'PROCEED' | translate}}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>