<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{'EDL_BILL_PAY' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <form [formGroup]="edlEnquiryForm">
    <div class="form-field">
      <div class="input-field">
        <div class="custom-input-box">
          <div class="material-textfield">
            <input placeholder="0.00" type="tel" lakCurrencyMask formControlName="txnAmount">
            <label>{{'AMOUNT' | translate}}</label>
          </div> 
        </div>
      </div>
    </div>
  </form>
</ion-content>
