<ion-header mode="md">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{'MY_QR' | translate}}</ion-title>
  </ion-toolbar>
  <ion-item lines="full" color="light">
    <ion-label class="ion-text-center">
      <p>{{'MPAY1039' | translate}}</p>
    </ion-label>
  </ion-item>
</ion-header>
<ion-content>
  <!-- <div class="form-field">
    <div class="input-field">
      <input type="tel" fill="outline" labelPlacement="floating"  
        placeholder="{{'ENTER_AMOUNT' | translate}}" appCurrencyI18n [(ngModel)]="test"/>
    </div>
  </div> -->
  <div *ngIf="pageStatus===1" mode="md">
    <form [formGroup]="qrForm">
      <div class="form-field">
        <div class="input-field">
          <ion-input labelPlacement="floating" label="{{'FROM_ACC' | translate}} *" readonly fill="outline"
            formControlName="fromAccount" placeholder="{{'SELECT_UR_ACC' | translate}}" (click)="selectFromAccount()">
            <ion-icon name="caret-down" class="input-icon" color="medium"></ion-icon>
          </ion-input>
        </div>
      </div>
      <div class="form-field">
        <div class="input-field">
          <ion-select fill="outline" labelPlacement="stacked" label="{{'ENTER_AMOUNT' | translate}}?"
            formControlName="enterAmount" placeholder="Do you want to enter amount?">
            <ion-select-option value="N">{{'NO' | translate}}</ion-select-option>
            <ion-select-option value="Y">{{'YES' | translate}}</ion-select-option>
          </ion-select>
        </div>
      </div>
      <div class="form-field" *ngIf="showEnterAmountField">
        <div class="input-field">
          <ion-input type="tel" fill="outline" labelPlacement="floating" *ngIf="currencyText(selectedCurrency)==='LAK'"
            label="{{'AMOUNT' | translate}} ({{currencyText(selectedCurrency)}}) *"
            placeholder="{{'ENTER_AMOUNT' | translate}}" formControlName="amount" appCurrencyMask> </ion-input>
        </div>
      </div>
      <div class="form-field">
        <div class="input-field">
          <ion-input type="tel" fill="outline" labelPlacement="floating" label="{{'REMARKS' | translate}}"
            placeholder="{{'ENTER_REMARKS' | translate}}" formControlName="remarks"> </ion-input>
        </div>
      </div>
    </form>
    <ion-card class="card-bg no-shadow">
      <ion-item lines="none">
        <ion-label class="ion-text-wrap guideline">
          <h2>{{ 'GUIDELINE' | translate }}</h2>
          <p>{{ 'GUIDELINE_DESC' | translate }}</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap guideline">
          <h2>{{ 'IMPORTANT_NOTE' | translate }}</h2>
          <section>
            <ul class="list">
              <li class="list-value">{{ 'IMPORTANT_NOTE_DESC_1' | translate }}</li>
              <li class="list-value">{{ 'IMPORTANT_NOTE_DESC_2' | translate }}</li>
            </ul>
          </section>
        </ion-label>
      </ion-item>
    </ion-card>
  </div>
  <div #qr_screen class="qr-bg" *ngIf="pageStatus===2">
    <div class="qr-box ion-text-center">
      <img [src]="profilePicture" class="avatar">
      <ion-label class="ion-text-center user-detail">
        <h2>{{userDetail.userName}}</h2>
        <p>{{userDetail.mobile}}</p>
      </ion-label>
      <div class="qr">
        <div *ngIf="!qrCodeString">
          <ion-skeleton-text [animated]="true" class="qr-skelton"
            *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]"></ion-skeleton-text>
        </div>
        <div class="qrcodeImage">
          <qrcode *ngIf="qrCodeString" [qrdata]="qrCodeString" [allowEmptyString]="true" [ariaLabel]="'BIC QR Code'"
            [cssClass]="'center'" [colorDark]="'#000000ff'" [colorLight]="'#ffffffff'" [elementType]="'canvas'"
            [errorCorrectionLevel]="'M'" [imageSrc]="'./assets/imgs/bic-logo.png'" [imageHeight]="75" [imageWidth]="75"
            [margin]="1" [scale]="1" [title]="''" [width]="300"></qrcode>
        </div>
      </div>
      <br>
    </div>
    <br>
    <ion-item lines="none">
      <ion-label class="ion-text-wrap user-detail">
        <h2>{{'NOTE' | translate}}: </h2>
        <p>{{'MY_QR_DESC' | translate}}</p>
      </ion-label>
    </ion-item>
  </div>
  <div id="download" hidden>
    <img #qr_canvas>
    <a #qr_downloadLink></a>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <div *ngIf="pageStatus===1">
      <ion-button color="secondary" mode="ios" expand="block" class="custom-btn" [disabled]="qrForm.invalid" (click)="generateQR()">
        {{'GENERATE_QR' | translate}}
      </ion-button>
    </div>
    <div *ngIf="pageStatus===2">
      <ion-button color="secondary" mode="ios" expand="block" class="custom-btn" (click)="downloadQrImage()">
        {{'SHARE_QR' | translate}}
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>