.brand-banner {
  max-height: 30px;
  margin-left: 16px;
}
.qr-logo {
  max-height: 35px !important;
  background-color: #fff;
  border-radius: 50%;
  padding: 2px;
  border: 1px solid var(--ion-color-secondary);
}
.icon {
  max-height: 35px !important;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid var(--ion-color-secondary);
}

ion-button {
  height:100%;
  font-size: 01.2em;
  text-decoration: none;
}

.btn-label{
  color: var(--ion-color-primary) !important;
  font-weight: bold;
}