swiper-container {
    width: 100%;
    height: 100%;
    --swiper-pagination-bullet-inactive-color: var(--ion-color-secondary);
    --swiper-pagination-color: var(--ion-color-primary);
}

swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.start-img {
    padding: 25px !important;
}
.title {
    font-weight: bolder;
    font-size: larger;
    color: var(--ion-color-primary);
}
.desc {
    font-size: smaller;
}
