/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@font-face {
  font-family: "ibmplex";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/ibmplex.ttf");
}

* {
  font-family: "ibmplex" !important;
}

ion-modal#alert-modal {
  --width: fit-content;
  --min-width: 250px;
  --height: fit-content;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

.custom-alert {
  --width: 75%;
  --min-width: 250px;
  --height: fit-content;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.8);
}
.custom-popover {
  --width: 75%;
  --min-width: 250px;
  --height: fit-content;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.8);
}
.custom-loading {
  --background: transparent !important;
  background-color: rgba(0, 0, 0, 0.2);
  --width: 200px;
  --min-width: 150px;
  --height: fit-content;
  --border-radius: 6px;
  --box-shadow: none !important;
}
.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.action-sheet-modal {
  --border-radius: 16px 16px 0px 0px !important;
  ion-content {
    // border: 1px solid var(--ion-color-secondary) !important; 
  }
}

ion-item-divider {
  ion-label {
    width: 100% !important;
  }
}
.right {
  border-right: 1px solid #dedede;
}
.left {
  border-left: 1px solid #dedede;
}
.top {
  border-top: 1px solid #dedede;
}
.bottom {
  border-bottom: 1px solid #dedede;
}
.border {
  border: 1px solid #dedede;
}

.transparent-item {
  --background: transparent !important;
}
.custom-btn {
  --border-radius: 7px !important;
  text-transform: capitalize !important;
}
.bg-color {
  background-color: #f3eded;
}

.card-bg {
  background-color: #f3eded;
  padding: 1px;
  margin: 10px !important;
  border-radius: 10px;
  border: 1px solid var(--ion-color-primary);
}
.top-border-radius{
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.card-item {
  border: 1px dotted var(--ion-color-secondary);
  box-shadow: none !important;
  border-radius: 10px !important;
}
.item-icon {
  margin-right: 7px !important;
  border-radius: 50%;
}
.no-shadow {
  box-shadow: none !important;
}
.p-0 {
  padding: 0px !important;
}
.m-0 {
  margin: 0px !important;
}

ion-radio {
  --border-radius: 4px;
  --inner-border-radius: 4px;

  --color: #ddd;
  --color-checked: var(--ion-color-tertiary);
}

ion-radio.ios::part(container) {
  width: 20px;
  height: 20px;

  border: 2px solid #ddd;
  border-radius: 4px;
}

.radio-checked.ios::part(container) {
  border-color: var(--ion-color-tertiary);
}

.checkbox-box {
  ion-checkbox {
    margin-top: 16px !important;

    --size: 20px;
    --checkbox-background-checked: var(--ion-color-secondary);
  }

  ion-checkbox::part(container) {
    border-radius: 3px;
    border: 2px solid var(--ion-color-secondary);
  }
}
.select-date {
  --width: 85%;
  --min-width: 250px;
  --max-width: 350px;
  --height: fit-content;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.8);
}

.form-field {
  margin-left: 16px;
  margin-right: 16px;
}
.input-field {
  margin-top: 16px;
}
.item-field{
  border: 1px solid var(--ion-color-medium);
  border-radius: 5px;
}
.error {
  font-size: x-small;
  color: red !important;
}
.transparent-bg {
  --background: transparent;
}
.input-icon{
  position: absolute;
  right:16px;
  top: 16px !important;
}
.fixed-modal {
  width: 100%;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}