.pin-box {
    width: 120px;
    margin: auto;
    text-align: center;
    border-bottom: 1px solid #efeded !important;
    ion-label {
        p {
            font-size: 25px !important;
            color: #dedede;
        }
    }
}

.forgot-pin {
    color: red;
    font-size: 12px;
}

.touch_id {
    text-transform: capitalize;
}
.touch-btn {
    --box-shadow: 0px none !important;
}
/* .border {
    .top {
        border-top: 1px solid #dedede;
    }
    .bottom {
        border-bottom: 1px solid #dedede;
    }
    .left {
        border-left: 1px solid #dedede;
    }
    .right {
        border-right: 1px solid #dedede;
    }
} */
.btn {
    img {
        margin-top: 10px !important;
    }
    .btnText {
        margin: 0px !important;
        margin-bottom: 10px !important;
        font-size: small;
    }
}
.btn:active {
    background-color: #dedede !important;
}

.block {
    width: 100%;
    height: 480px;
    border-top-left-radius: 25px !important;
    border-top-right-radius: 25px !important;
    background-color: #fff;
    .btn-bottom {
        padding-top: 16px !important;
        .button {
            border: 1px solid #dedede !important;
            height: 70px;
            width: 70px;
            margin: auto;
            border-radius: 50%;
            text-align: center;
            vertical-align: middle;
            line-height: 70px;
            font-size: larger !important;
        }

        .button:active {
            border: 1px solid var(--ion-color-primary) !important;
            background-color: var(--ion-color-light);
            color: var(--ion-color-primary) !important;
            font-weight: bold !important;
        }
    }
    .bottom-pin-box {
        width: 160px !important;
        margin: auto;
        padding-top: 30px !important;
        color: var(--ion-color-primary);
        font-size: x-large;
    }
}

ion-modal {
    --height: auto;
    --background: none transparent !important;
    ion-fab {
        margin-top: 30px !important;
        margin-right: -10px !important;
    }
    ion-fab-button {
        --background: #fff !important;
        --box-shadow: none !important;
        --color: var(--ion-color-primary);
    }
}
