<ion-content mode="md">
  <ion-item lines="full" color="primary">
    <ion-label class="header">
      <h2>{{'SELECT_CONTACT' | translate}}</h2>
    </ion-label>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal('')">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
  <ion-card class="card-bg no-shadow">
    <ion-item lines="full" color="secondary">
      <ion-label class="ion-text-center">{{contactList?.name?.display}}</ion-label>
    </ion-item>
    <ion-card class="card-item" *ngFor="let c of contactList.phones">
      <ion-item button detail="true"(click)="closeModal(c.number)">
        <ion-label class="header-text">
          <h2>{{c.number}}</h2>
        </ion-label>
      </ion-item>
    </ion-card>
  </ion-card>
</ion-content>
