.alert-icon{
    height:50px;
    width:50px;
}
.bottom-buttons{
    border-top: 1px solid #dedede;
    margin:0px !important;
    padding:0px !important;
    ion-col{
        padding:0px !important;
        margin-top:5px !important;
    }
    
}
.right{
    border-right: 1px solid #dedede;
}
.bg-box{
    padding-top:16px !important;
    padding-bottom:8px !important;
    
}
.btn{
    margin:0px !important;
}
.description{
    padding-bottom: 10px;
    
}